@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
  box-sizing: border-box;
}

@page {
  size: A4;
  margin: 0;
}

html,
body {
  width: 210mm;
  height: 297mm;
  padding: 0; 
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f8f5f5;
  font-family: 'Open Sans', sans-serif;
  font-size: 11px;
  line-height: 15px;
}

p {
  padding: 0;
  margin: 0;
}

.content {
  width: 90%;
  height: 90%;
  /* padding: 10px; */
  font-family: Arial, sans-serif;
  background-color: #fff;

  /* display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-areas:
      "top-left top-right"
      "main-left main-right" */
}

.top-left {
  grid-area: top-left;
  /* width: 60mm; */
  /* border-right: 1px solid black; */
  padding-right: 10px;
}

.top-right {
  grid-area: top-right;
  padding-left: 20px;
}

.main-left {
  grid-area: main-left;

}
.main-right {
  grid-area: main-right;
}

.name, .title {
  text-transform: uppercase;
  text-align: center;
  font-weight: 300;
  font-size: 26px;
  line-height: 30px;
}

.title {
  font-size: 14px;
}

.separator {
  display: flex;
  justify-content: center;
  position: relative;
}

.line {
  width: 100%;
  border: 1px solid black;
}

.diamond {
  width: 8px;
  height: 8px;
  background-color: white;
  border: 1px solid black;
  transform: rotate(45deg);
  position: absolute;
  top: -3px;
}

/* about me */
.about-me {
  text-transform: uppercase;
  font-weight: 300;
}

/* contacts */
.contacts {
  line-height: 20px;
  display: flex;
  gap: 5px;
}

.contacts__type {
  padding-top: 4px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: start;
}

.icon {
  height: 11px;
}

.mail {
  height: 12px;
}

.link {
  height: 15px;
  /* margin-top: 2px; */
}

.phone {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}
